{% extends 'kompetenzen/main.html' %}

{% block content %}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <h5 class="card-header">Übersicht</h5>
        <div class="card-body">
          <h7 class="card-text">
            <table class="table table-borderless text-center">
              <tr>
                <td>
                  <h2 class="display-2">{{totalcourses}}</h2>
                </td>
                <td>
                  <h2 class="display-2">{{totalcoursegroups}}</h2>
                </td>
                <td>
                  <h2 class="display-2">{{totalcredits}}</h2>
                </td>
              </tr>
              <tr>
                <td>Kompetenzen</td>
                <td>Kompetenzgruppen</td>
                <td>Total Credits</td>
              </tr>

            </table>
          </h7>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <h5 class="card-header">Fortschritt</h5>
        <div class="card-body">
          <p class="card-text">
            Total abgeschlossene Kompetenzen <b>{{coursesdone}}</b>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{perccoursesdone}}%" aria-valuenow="{{done}}"
              aria-valuemin="0" aria-valuemax="{{totalcourses}}">{{perccoursesdone}}%</div>
          </div>
          </p>
          <p class="card-text">
            Total erreichte Credits <b>{{creditsdone}}</b>
          </p>
          <p class="card-text">Eingeschriebene Credits im aktuellen Semester <b>{{signedupcurrentsem}}</b>
          </p>
        </div>
      </div>
    </div>
  </div>
  <p></p>
  <div class="row">
    <div class="col">
      <div class="card">
        <h5 class="card-header">Kompetenzgruppen</h5>
        <div class="card-body">
          <h7 class="card-text">
            {% for key,values in dic.items %}
            <p class="card-text">
              <b>{{key}}</b><br>
              Abgeschlossene Credits: {{values.credits}}<br>
              Min Credits: {{values.min}}<br>
              Maximal Credits: {{values.max}}<br>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: {{values.percentdone}}%"></div>
              <div class="progress-bar bg-primary" role="progressbar" style="width: {{values.percentleft}}%"></div>
            </div>
            </p>
            {% endfor %}
          </h7>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}